.DS_Store
BetterCharacterController.userprefs
BetterCharacterController/bin/Debug/BetterCharacterController.dll
BetterCharacterController/BetterCharacterController.userprefs
BetterCharacterController/bin/Debug PC/
BetterCharacterController/bin/Debug/BetterCharacterController.pdb
BetterCharacterController_TestProject/Temp/
BetterCharacterController_TestProject/Library/metadata/